.shelf {
    display: flex;
    width:100%;
    padding: 0;
    justify-content: space-evenly;
    overflow: auto;
    margin: 0;
    background-color: rgb(226, 241, 255);
}
.shelf__title {
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: rgb(226, 201, 255)
}