.search__bar__input {
    width: 100%;
    min-height: 50px;
    border: none;
    border-bottom: 2px solid darkred;
    font-size: 2em;
}

.search__bar__input:focus {
    outline: 2px solid dodgerblue;
}